.container {
    width: 80vw;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-bottom: 5rem;
}

.eachOne {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}

.img-left {
    width: 100vh;
    object-fit: contain;
}

.food-img {
    width: 100vh;
    object-fit: contain;
}

.text-right {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    line-height: 1.6;
    color: black;
}

.text-right a {
    padding: 0.8rem 1rem;
    background: #FFC72C;
    color: rgb(55, 52, 52);
}