.container {
    width: 80vw;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-bottom: 5rem;
}

.eachOne {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}

.tiny {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    line-height: 1.2;
    color: rgb(30, 28, 28);
}

.img-left {
    width: 100vh;
    object-fit: contain;
}

.food-img {
    width: 100vh;
    object-fit: contain;
}

.text-right {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    line-height: 1.6;
    color: black;
}

.text-right a {
    padding: 0.8rem 1rem;
    background: #fabb10;
    color: rgb(55, 52, 52);
    font-size: 1.2rem;
    cursor: pointer;
    font-size: bold;
}

@media(max-width:768px) {
    .eachOne {
        display: block;
        gap: 1rem;
        row-gap: 1rem;
        column-gap: 3rem;
        align-items: center;
    }
    .img-left {
        width: 760px;
        object-fit: contain;
    }
}