.images{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:2rem;
}

.description{
    display:flex;
    gap:5rem;
}

.FoodImg{
    object-fit:contain;
    width:14rem;
    height:16rem;
}

.description h3{
    font-size:1.3rem;
    color:black;
    font-weight:800;
}
