.container{
    
    font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #292929;
    letter-spacing: -.15px;
}

.MagdoMenu{
   align-items:center;
   display:flex;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
}
 

.featuredTitle{
    align-items:center;
    justify-content:center;
    font-size:2rem;
    color:#FFC72C;
}
 

.food{
    display:block;
    margin-bottom:3rem;
}